# Python for Data Science, Level I
### *Session \#7*
---

### Helpful shortcuts
---

**SHIFT** + **ENTER** ----> Execute Cell

**TAB** ----> See autocomplete options

**ESC** then **b** ----> Create Cell 

**ESC** then **dd** ----> Delete Cell

**\[python expression\]?** ---> Explanation of that Python expression

**ESC** then **m** then __ENTER__ ----> Switch to Markdown mode

## I. Pandas Review

### Warm Ups

---

**Importing pandas:** `import pandas as pd`

**Dataframe from Excel sheet:** `df = pd.read_excel("titanic.xlsx")`

**Boolean filter on rows:** `df[df['age'] >= 21]`

**Aggregate column with Numpy function:** `df['fare'].mean()`

**Create a new column:** `df['lone_adult_male'] = df['alone'] & df['sex'] == 'male'`

**Aggregate column with Numpy function:** `df['fare'].mean()`

## Exercises
---
**1. What was the average fare paid by survivors? What was the average fare among those that didn't survive?**

**2. Create a new column** `minor` **which is** `True` **for passengers who are under 18 years old and** `False` **otherwise**

**3. What was the survival rate of minors aboard the Titanic?**

**4. What was the survival rate among those who were NOT minors?**

Hint: You can use the ~ operator to reverse a Boolean filter.

### Extra Credit
---
**1. Create a new column called** `senior` **which is** `True` **for those over 55. What is the survival rate for seniors?**

## II. Groupby 


### Warm Ups
---
**Get frequency of each unique value in column:** `counts = df['who'].value_counts()`

**Grab by row index:** `counts.loc['man']`

**Create a dataframe by selecting columns:** `who_df = df[['who', 'survived']]`

**Group by a column:** `who_df.groupby('who').mean()`

### Exercises
---
**1. Create a dataframe** `class_df` **by grabbing just the columns** `class` **and** `survived`

**2. Use a groupby on** `class_df` **to sum up the number of survivors by class**

**3. What about the surivival rate by class? Use** `.mean()` **to aggregate this time instead.**

**4. Find the most expensive ticket purchased within each class.** 

Hint: You'll need to create a dataframe from just the `class` and `fare` columns first.

### Extra Credit
---

**1. When performing a groupby, you can use** `.agg()` **instead of the normal Numpy methods like** `.sum()` **or** `.mean()`

**If you use** `.agg()`**, you can apply multiple aggregators at once by giving a list of their names, eg:** `df.groupby('sex').agg(['sum', 'count'])` 

**Do a groupby on** `class_df` **to find the** `count` **and** `sum` **of the survived column (ie. total number and survivors)**

**2. Plot the resulting dataframe from the last problem as a bar chart**

Note: You can use `.legend()` on the resulting axes to make your labels clearer. Pass the list of names you want for each color.

## III. Pivot tables


### Warm Ups
---
**Basic pivot table:** `df.pivot_table('survived', index='who')`

Note: `pivot_table()` will use the average when combining rows, by default.

**Pivot table using different aggregator:** `df.pivot_table('survived', index='embark_town', aggfunc='sum')`

**Pivot table divided out by column values**: `pivot_df = df.pivot_table('survived', index='who', columns='class')`

**Grab by row and column index:** `pivot_df.loc['child', 'Second']`

### Exercises
---
**1. Create a pivot table to show survival rates based on where passengers embarked from.**

**2. Create a pivot table that shows a total count of passengers from each** `embark_town`

**3.  Let's reverse engineer the ticket prices! Create a pivot table for** `fare`, **with index broken down by** `class` **and columns broken down by** `who`

**4. Plot the ticket prices dataframe as a bar chart! To do so, just add** `.plot(kind="bar")`

### Extra Credit
---

**1. The index parameter of** `.pivot_table()` **can also take a list of column names, which will generate a  *heirarchical* index. A heirarchical index subdivides by multiple columns, resulting in a more fine-grained breakdown.**

**Create a pivot table to capture survival rate, with** `index=["embark town", "who"]` **and** `columns="class"`

Note: To fetch from a heirchical index, you have to specify a value for both columns in the index: `df.loc[('Cherbourg', 'man'), 'First']`