# Python for Data Science, Level I
### *Session \#6*
---

### Helpful shortcuts
---

**SHIFT** + **ENTER** ----> Execute Cell

**TAB** ----> See autocomplete options

**ESC** then **b** ----> Create Cell 

**ESC** then **dd** ----> Delete Cell

**\[python expression\]?** ---> Explanation of that Python expression

**ESC** then **m** then __ENTER__ ----> Switch to Markdown mode

## I. Pandas Basics

### Warm Ups

---

**Importing pandas:** `import pandas as pd`

In [2]:
import pandas as pd

**Dataframe from CSV:** `df = pd.read_csv("inspections.csv")`

*Note: Input string can be a URL or a local file path*

In [7]:
df = pd.read_csv("https://bit.ly/noble-desktop-ds-csv")

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
0,50058559,PRET A MANGER,MANHATTAN,299,7TH AVE,10001.0,6467280505,American,08/28/2017,Violations were cited in the following area(s).,16E,Caloric content range (minimum to maximum) not...,Not Critical,NaN,NaN,NaN,04/01/2019,Calorie Posting / Initial Inspection
1,50069855,FERRY HOUSE CAFE,MANHATTAN,PIER 11,SOUTH ST,10005.0,9175363918,CafÃ©/Coffee/Tea,11/30/2017,Violations were cited in the following area(s).,05H,"No facilities available to wash, rinse and san...",Critical,94.0,C,11/30/2017,04/01/2019,Pre-permit (Operational) / Re-inspection
2,50072700,MAMA FINA'S,MANHATTAN,167,AVENUE A,10009.0,9172620893,Filipino,07/12/2018,Violations were cited in the following area(s).,04K,Evidence of rats or live rats present in facil...,Critical,9.0,A,07/12/2018,04/01/2019,Pre-permit (Operational) / Re-inspection
3,50047067,STARBUCKS COFFEE #22596,BROOKLYN,154,N 7TH ST,11249.0,7183840152,CafÃ©/Coffee/Tea,07/21/2017,Violations were cited in the following area(s).,16E,Caloric content range (minimum to maximum) not...,Not Critical,NaN,NaN,NaN,04/01/2019,Calorie Posting / Initial Inspection
4,41047349,JENNIFER CAFE,MANHATTAN,67,1 AVENUE,10003.0,9176745443,"Latin (Cuban, Dominican, Puerto Rican, South &...",02/27/2018,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,Not Critical,20.0,NaN,NaN,04/01/2019,Cycle Inspection / Initial Inspection

**First 5 lines of file:** `df.head()`

**Boolean indexing on rows:** `df[df['GRADE'] == 'C']`

**Comining Boolean indexes:** 
```python
a_grade = df['GRADE'] == 'A'
bk = df['BORO'] == 'BROOKLYN'
df[a_grade & bk]
```

## Exercises
---
**1. Apply a Boolean filter to** `CUISINE DESCRIPTION` **to select only the Filipino restaurants. How many inspections were there?** 

Hint: Use the `len()` function.

In [11]:
filipino = df['CUISINE DESCRIPTION'] == "Filipino"

len(df[filipino])

179

**2. Apply Boolean filters to select only rows where the** `CRITICAL FLAG` **column is** `Critical`. **What percentage of all inspections were** `Critical`**?**

Hint: Divide the number of `Critical` rows by the total number

In [15]:
critical = df['CRITICAL FLAG'] == 'Critical'

len(df[critical]) / len(df)

0.5447536292127646

**3. How many inspections are there for Starbucks? What percentage of Starbucks inspections were** `Critical`**?**

Hint: Use the `DBA` column to target Starbucks

In [17]:
star = df['DBA'] == 'STARBUCKS'

len(df[star & critical]) / len(df[star])

0.3354072398190045

**4. What percentage of inspections of restaurant located on either** `BOWERY` **or** `EAST BROADWAY` **streets were critical?**

In [19]:
bowery = df['STREET'] == 'BOWERY'
eb = df['STREET'] == 'EAST BROADWAY'

len(df[(bowery|eb)&critical]) / len(df[bowery|eb])

0.5922014622258327

### Extra Credit
---
**1. Which type of restaurant a higher percentage of** `Critical` **inspections -- restaurants with a** `CUISINE DESCRIPTION` **of** `'Donuts'` **or** `'Juice, Smoothies, Fruit Salads'`**?**

In [25]:
donuts = df['CUISINE DESCRIPTION'] == 'Donuts'
juice = df['CUISINE DESCRIPTION'] == 'Juice, Smoothies, Fruit Salads'

donut_ratio = len(df[donuts&critical])/len(df[donuts])
juice_ratio = len(df[juice&critical])/len(df[juice])

print("DONUT RATIO: " + str(donut_ratio))
print("JUICE RATIO: " + str(juice_ratio))

DONUT RATIO: 0.471031746031746
JUICE RATIO: 0.5187202178352621

## II. Columns


### Warm Ups
---
**See column data types:** `df.dtypes`

**Aggregate column with Numpy function:** `df['SCORE'].mean()`

**Create new column from existing one:** `df['NEG_SCORE'] = df['SCORE'] * -1`

**Create a dataframe from columns:** `df[['DBA', 'SCORE']]`

**Sort dataframe ascending/descending based on column:** 
```python
df.sort_values('SCORE')
df.sort_values('SCORE', ascending=False)
```

### Exercises
---
**1. Use** `.dtypes` **to check the datatype of the** `ZIPCODE` **column. Oh no! Since some ZIP codes start with a zero, this is not what we want.**

**Load the data again using** `pd.read_csv()`, **but this time after the file name, give it an additional input of** `dtype={"ZIPCODE": str}` **to set the ZIP codes to a their proper type.**

In [31]:
df = pd.read_csv("https://bit.ly/noble-desktop-ds-csv",
                 dtype={"ZIPCODE": str})

**2. Restaurants receive points for every health code violation. First, create a smaller dataframe from just the** `DBA` **and** `SCORE` **columns. Then sort by** `SCORE` **descending to see the worst offenders.**

In [34]:
df[['DBA', 'SCORE']].sort_values("SCORE", ascending=False)

                                                      DBA  SCORE
15551                   NOUS LES AMIS RESTAURANT & BAKERY  156.0
224785                  NOUS LES AMIS RESTAURANT & BAKERY  156.0
37837                   NOUS LES AMIS RESTAURANT & BAKERY  156.0
58920                   NOUS LES AMIS RESTAURANT & BAKERY  156.0
97876                   NOUS LES AMIS RESTAURANT & BAKERY  156.0
150003                  NOUS LES AMIS RESTAURANT & BAKERY  156.0
117164                  NOUS LES AMIS RESTAURANT & BAKERY  156.0
248299                  NOUS LES AMIS RESTAURANT & BAKERY  156.0
32968                   NOUS LES AMIS RESTAURANT & BAKERY  156.0
124811                  NOUS LES AMIS RESTAURANT & BAKERY  156.0
135086                  NOUS LES AMIS RESTAURANT & BAKERY  156.0
142072                  NOUS LES AMIS RESTAURANT & BAKERY  156.0
191311                                KAY'S BOUTIQUE CAFE  155.0
75201                                 KAY'S BOUTIQUE CAFE  155.0
176758                                KAY'S BOUTIQUE CAFE  155.0
210874                                KAY'S BOUTIQUE CAFE  155.0
109862                                KAY'S BOUTIQUE CAFE  155.0
28774                                 KAY'S BOUTIQUE CAFE  155.0
184878                                KAY'S BOUTIQUE CAFE  155.0
208608                                KAY'S BOUTIQUE CAFE  155.0
218145                    The Slope Lounge and Restaurant  152.0
236820                    The Slope Lounge and Restaurant  152.0
212064                    The Slope Lounge and Restaurant  152.0
44067                     The Slope Lounge and Restaurant  152.0
210803                    The Slope Lounge and Restaurant  152.0
241883                    The Slope Lounge and Restaurant  152.0
100720                    The Slope Lounge and Restaurant  152.0
19376                                    MARGARITA ISLAND  151.0
57927                                    MARGARITA ISLAND  151.0
139643                                   MARGARITA ISLAND  151.0
...                                                   ...    ...
249604                     FRANKLIN PARK/DUTCH BOY BURGER    NaN
249611                                        ALL NATIONS    NaN
249620                          RESTAURANT ON 58 ST. INC.    NaN
249622                                    CANTINA ROOFTOP    NaN
249627                                         TABOONETTE    NaN
249639                                    BROOKLYN CAFE 1    NaN
249661                                   BELARUSSIAN XATA    NaN
249675                                       EMPIRE GRILL    NaN
249692                                         SWEETGREEN    NaN
249763                                    MURPHY'S TAVERN    NaN
249773                               CUCINA BENE PIZZERIA    NaN
249789                                      BROOKLYN KAVA    NaN
249827  COLUMBIA UNIVERSITY BAKER ATHLETICS COMPLEX, S...    NaN
249847                                                NaN    NaN
249854                                       BULL MCCABES    NaN
249860                                             SUBWAY    NaN
249900                       JUICE & JOY - ORGANIC COFFEE    NaN
249905                                      SPEEDY'S DELI    NaN
249910                                                NaN    NaN
249929                                        MAIDEN LANE    NaN
249941                                         MI YUE LOU    NaN
249973                                  BURGOS RESTAURANT    NaN
249983                                        LAS LUNITAS    NaN
250014                                  ROCCA/CAFE-LOUNGE    NaN
250029                                            ESTELLE    NaN
250101                                           STEWARTS    NaN
250125                                        SUMNER CAFE    NaN
250163                                    VIVI BUBBLE TEA    NaN
250165                                     EL CONDE NUEVO    NaN
250171                                         MCDONALD'S    NaN

[250192 rows x 2 columns]

**3. What is the average** `SCORE` **across all inspections?**

In [35]:
df['SCORE'].mean()

19.915540853345455

**4. Which has inspections with a higher average** `SCORE`, **Manhattan or Brooklyn?**

In [37]:
bk = df['BORO'] == 'BROOKLYN'
man = df['BORO'] == 'MANHATTAN'

df[man]['SCORE'].mean()

19.758882986419728

**5. Create a new column** `SCORE_OUT_OF_TEN` **which takes the** `SCORE` **column and scales it down from 1 to 10.**

In [42]:
df['SCORE_OUT_OF_TEN'] = df['SCORE'] / 16

df['SCORE_OUT_OF_TEN'].max()

9.75

**5. What is the most common** `STREET` **for inspections to occur on?**

Hint: You can use the Numpy method `.mode()` to get the most frequently occuring value from a column.

In [46]:
df['STREET'].mode()

0    BROADWAY
dtype: object

### Extra Credit
---
**6. What is the most common** `DBA` **for inspections that are flagged** `Critical`?

In [44]:
df[critical]['DBA'].mode()

0    DUNKIN' DONUTS
dtype: object

## III. Cleaning Data


### Warm Ups
---

**Contains string:** `starbucks = df['DBA'].str.contains('STARBUCKS', na=False)`

**Starts/ends with:** 
```python 
df['DBA'].str.startswith("THE")
df['DBA'].str.endswith("RESTAURANT")
```

**Overwrite:** `df.loc[starbucks, "DBA"] = "STARBUCKS"`

**Rows with/without NaN in column:** 
```python
df['GRADE'].isnull()
df['GRADE'].notnull()
```

**Fill all NaN values in a column:** `df['GRADE'].fillna('NOT RATED')`

**Save to CSV:** `df.to_csv("inspections.csv", index=False)`

### Exercises
---
**1. Find all the spellings of McDonald's by filtering** `DBA` **to anything that contains** `DONALD`

Hint: You can use the `set()` function on the `DBA` column after to just see unique values

In [63]:
donald = df['DBA'].str.contains('DONALD', na=False)

set(df[donald]['DBA'])

{'MCDONALD AVENUE DINER',
 "MCDONALD'S",
 "MCDONALD'S #11542",
 "MCDONALD'S #13068",
 "MCDONALD'S #23105",
 "MCDONALD'S #3880",
 "MCDONALD'S CORPORATION",
 "MCDONALD'S RESTAURANT",
 "MCDONALD'S RESTAURANTS OF NEW YORK INC",
 'MCDONALDS',
 'MCDONALDS # 18093',
 'MCDONALDS # 6160',
 'MCDONALDS RESTAURANT'}

**2. We don't want to include** `Macdonald Avenue Diner` **so create a second Boolean filter to matches** `DBA` **values that end with** `"DINER"`

In [ ]:
safe_donald = ~ends_with_diner&donald

**3. Select the rows that match the** `DONALD` **filter but not the** `DINER` **filter, and overwrite with the string** `"MACDONALDS"` **to standardize the spelling.**

In [198]:
df.loc[safe_donald, 'DBA'] = "MCDONALDS"

**4. Use** `.fillna()` **to create a copy of the** `DBA` **column with an empty string instead of NAs. Overwrite the DBA column with this new version.**

In [65]:
df['DBA'] = df['DBA'].fillna('')

### Extra Credit
---

**1. Many restaurants without a grade were given an inspection score, which can be used to derive a grade. Those that get 0 and 13 points earn an A, those with 14 to 27 points receive a B and those with 28
or more a C.**

**Use boolean indexing to fill in those missing grades that can be derived.**

In [64]:
# Fill in A scores
a_score = df['SCORE'] < 14
should_be_a = null_grade & a_score
df.loc[should_be_a, 'GRADE'] = 'A'

# Fill in B scores
b_score = 14 <= df['SCORE'] & df['SCORE'] <= 27 
should_be_b = null_grade & b_score
df.loc[should_be_b, 'GRADE'] = 'B'

# Fill in C scores
c_score = 28 < df['SCORE'] 
should_be_c = null_grade & c _score
df.loc[should_be_c, 'GRADE'] = 'C'