# Python for Data Science, Level I
### *Session \#6*
---

### Helpful shortcuts
---

**SHIFT** + **ENTER** ----> Execute Cell

**TAB** ----> See autocomplete options

**ESC** then **b** ----> Create Cell 

**ESC** then **dd** ----> Delete Cell

**\[python expression\]?** ---> Explanation of that Python expression

**ESC** then **m** then __ENTER__ ----> Switch to Markdown mode

## I. Pandas Basics

### Warm Ups

---

**Importing pandas:** `import pandas as pd`

**Dataframe from CSV:** `df = pd.read_csv("inspections.csv")`

*Note: Input string can be a URL or a local file path*

**First 5 lines of file:** `df.head()`

In [216]:
df.head()

,CAMIS,DBA,BORO,BUILDING,STREET,ZIPCODE,PHONE,CUISINE DESCRIPTION,INSPECTION DATE,ACTION,VIOLATION CODE,VIOLATION DESCRIPTION,CRITICAL FLAG,SCORE,GRADE,GRADE DATE,RECORD DATE,INSPECTION TYPE
0,50058559,PRET A MANGER,MANHATTAN,299,7TH AVE,10001,6467280505,American,08/28/2017,Violations were cited in the following area(s).,16E,Caloric content range (minimum to maximum) not...,Not Critical,NaN,NaN,NaN,04/01/2019,Calorie Posting / Initial Inspection
1,50069855,FERRY HOUSE CAFE,MANHATTAN,PIER 11,SOUTH ST,10005,9175363918,CafÃ©/Coffee/Tea,11/30/2017,Violations were cited in the following area(s).,05H,"No facilities available to wash, rinse and san...",Critical,94.0,C,11/30/2017,04/01/2019,Pre-permit (Operational) / Re-inspection
2,50072700,MAMA FINA'S,MANHATTAN,167,AVENUE A,10009,9172620893,Filipino,07/12/2018,Violations were cited in the following area(s).,04K,Evidence of rats or live rats present in facil...,Critical,9.0,A,07/12/2018,04/01/2019,Pre-permit (Operational) / Re-inspection
3,50047067,STARBUCKS,BROOKLYN,154,N 7TH ST,11249,7183840152,CafÃ©/Coffee/Tea,07/21/2017,Violations were cited in the following area(s).,16E,Caloric content range (minimum to maximum) not...,Not Critical,NaN,NaN,NaN,04/01/2019,Calorie Posting / Initial Inspection
4,41047349,JENNIFER CAFE,MANHATTAN,67,1 AVENUE,10003,9176745443,"Latin (Cuban, Dominican, Puerto Rican, South &...",02/27/2018,Violations were cited in the following area(s).,08A,Facility not vermin proof. Harborage or condit...,Not Critical,20.0,NaN,NaN,04/01/2019,Cycle Inspection / Initial Inspection

**Boolean indexing on rows:** `df[df['GRADE'] == 'C']`

**Comining Boolean indexes:** 
```python
a_grade = df['GRADE'] == 'A'
bk = df['BORO'] == 'BROOKLYN'
df[a_grade & bk]
```

## Exercises
---
**1. Apply a Boolean filter to** `CUISINE DESCRIPTION` **to select only the Filipino restaurants. How many inspections were there?** 

Hint: Use the `len()` function.

**2. Apply Boolean filters to select only rows where the** `CRITICAL FLAG` **column is** `Critical`. **What percentage of all inspections were** `Critical`**?**

Hint: Divide the number of `Critical` rows by the total number

**3. How many inspections are there for Starbucks? What percentage of Starbucks inspections were** `Critical`**?**

Hint: Use the `DBA` column to target Starbucks

**4. What percentage of inspections of restaurant located on either** `BOWERY` **or** `EAST BROADWAY` **streets were critical?**

### Extra Credit
---
**1. Which type of restaurant a higher percentage of** `Critical` **inspections -- restaurants with a** `CUISINE DESCRIPTION` **of** `'Donuts'` **or** `'Juice, Smoothies, Fruit Salads'`**?**

## II. Columns


### Warm Ups
---
**See column data types:** `df.dtypes`

**Aggregate column with Numpy function:** `df['SCORE'].mean()`

**Create new column from existing one:** `df['NEG_SCORE'] = df['SCORE'] * -1`

**Create a dataframe from columns:** `df[['DBA', 'SCORE']]`

**Sort dataframe ascending/descending based on column:** 
```python
df.sort_values('SCORE')
df.sort_values('SCORE', ascending=False)
```

### Exercises
---
**1. Use** `.dtypes` **to check the datatype of the** `ZIPCODE` **column. Oh no! Since some ZIP codes start with a zero, this is not what we want.**

**Load the data again using** `pd.read_csv()`, **but this time after the file name, give it an additional input of** `dtype={"ZIPCODE": str}` **to set the ZIP codes to a their proper type.**

**2. Restaurants receive points for every health code violation. First, create a smaller dataframe from just the** `DBA` **and** `SCORE` **columns. Then sort by** `SCORE` **descending to see the worst offenders.**

**3. What is the average** `SCORE` **across all inspections?**

**4. Which has inspections with a higher average** `SCORE`, **Manhattan or Brooklyn?**

**5. Create a new column** `SCORE_OUT_OF_TEN` **which takes the** `SCORE` **column and scales it down from 1 to 10.**

**5. What is the most common** `STREET` **for inspections to occur on?**

Hint: You can use the Numpy method `.mode()` to get the most frequently occuring value from a column.

### Extra Credit
---
**6. What is the most common** `DBA` **for inspections that are flagged** `Critical`?

## III. Cleaning Data


### Warm Ups
---

**Contains string:** `starbucks = df['DBA'].str.contains('STARBUCKS', na=False)`

**Starts/ends with:** 
```python 
df['DBA'].str.startswith("THE")
df['DBA'].str.endswith("RESTAURANT")
```

**Overwrite:** `df.loc[starbucks, "DBA"] = "STARBUCKS"`

**Rows with/without NaN in column:** 
```python
df['GRADE'].isnull()
df['GRADE'].notnull()
```

**Fill all NaN values in a column:** `df['GRADE'].fillna('NOT RATED')`

**Save to CSV:** `df.to_csv("inspections.csv", index=False)`

### Exercises
---
**1. Find all the spellings of McDonald's by filtering** `DBA` **to anything that contains** `DONALD`

Hint: You can use the `set()` function on the `DBA` column after to just see unique values

**2. We don't want to include** `Macdonald Avenue Diner` **so create a second Boolean filter to matches** `DBA` **values that end with** `"DINER"`

**3. Select the rows that match the** `DONALD` **filter but not the** `DINER` **filter, and overwrite with the string** `"MACDONALDS"` **to standardize the spelling.**

**4. Use** `.fillna()` **to create a copy of the** `DBA` **column with an empty string instead of NAs. Overwrite the DBA column with this new version.**

### Extra Credit
---

**1. Many restaurants without a grade were given an inspection score, which can be used to derive a grade. Those that get 0 and 13 points earn an A, those with 14 to 27 points receive a B and those with 28
or more a C.**

**Use boolean indexing to fill in those missing grades that can be derived.**